---
sudo: required
dist: xenial   # required for Python >= 3.7
language: python
services: 
  - docker
python:
  - "3.6"
  - "3.7"
before_install:
  - sudo apt-get -qq update
  - python3 -m pip install wheel pytest jsonschema
script:
  - make test
