.title {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 0px;
    background-color: #e8ebeb;
    font:normal 60px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.host {
    position: relative;
    left: 20px;
    top: 0px;
    padding: 5px;
    width: 100%;
    font:normal 30px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.ip {
    position: relative;
    left: 40px;
    padding: 5px;
    width: 100%;
    font:normal 20px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.ipinfo {
    position: relative;
    left: 40px;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: gray;
}

.ipwarn {
    position: relative;
    left: 40px;
    padding: 3px;
    border: 2px solid ornage;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: orange;
}

.iperror {
    position: relative;
    left: 40px;
    padding: 3px;
    border: 2px solid red;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: red;
}

.service {
    position: relative;
    left: 60px;
    padding: 3px;
    width: 100%;
    font:normal 16px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.serviceinfo {
    position: relative;
    left: 60px;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: gray;
}

.servicewarning {
    position: relative;
    left: 60px;
    padding: 3px;
    border: 2px solid orange;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: orange;
}

.serviceerror {
    position: relative;
    left: 60px;
    padding: 3px;
    border: 2px solid red;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: red;
}

.data pre {
    position: relative;
    left: 80px;
    padding: 0px;
    width: 100%;
    font:normal 12px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.datainfo {
    position: relative;
    left: 80px;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: gray;
}

.datawarning {
    position: relative;
    left: 80px;
    padding: 3px;
    border: 2px solid orange;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: orange;
}

.dataerror {
    position: relative;
    left: 80px;
    padding: 3px;
    border: 2px solid red;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: red;
}

.datacritical {
    position: relative;
    left: 80px;
    padding: 3px;
    border: 2px solid purple;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: purple;
}

.ssl {
    position: relative;
    padding: 5px;
    left: 80px;
    font:normal 14px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.sslerror {
    position: relative;
    left: 80px;
    padding: 3px;
    border: 2px solid red;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: red;
}

.sslwarning {
    position: relative;
    left: 80px;
    padding: 3px;
    border: 2px solid orange;
    border-radius: 7px;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
    color: orange;
}

table.vulnerability {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: auto;
    border-collapse: collapse;
    font:normal 12px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.tr, td {
    border: 1px solid black;
    font:normal 12px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}
