.title {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 0px;
    background-color: #e8ebeb;
    font:normal 60px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.host {
    position: relative;
    left: 20px;
    top: 0px;
    padding: 5px;
    width: 100%;
    font:normal 30px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.ip {
    position: relative;
    left: 40px;
    padding: 5px;
    width: 100%;
    font:normal 20px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.service {
    position: relative;
    left: 60px;
    padding: 5px;
    width: 100%;
    font:normal 16px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.tag {
    position: relative;
    left: 60px;
    top-margin: 5px;
    padding: 2px;
    border: 1px solid orange;
    border-radius: 7px;
    background-color: orange;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.data pre {
    position: relative;
    left: 80px;
    padding: 0px;
    width: 100%;
    font:normal 12px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.datawarning {
    position: relative;
    left: 80px;
    top-margin: 5px;
    padding: 2px;
    border: 1px solid orange;
    border-radius: 7px;
    background-color: orange;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.dataerror {
    position: relative;
    left: 80px;
    top-margin: 5px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: red;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.ssl {
    position: relative;
    padding: 5px;
    left: 80px;
    font:normal 14px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.sslerror {
    position: relative;
    left: 80px;
    top-margin: 5px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: red;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.sslwarning {
    position: relative;
    left: 80px;
    top-margin: 5px;
    padding: 2px;
    border: 1px solid orange;
    border-radius: 7px;
    background-color: orange;
    font:normal 10px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

table.vulnerability {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: auto;
    border-collapse: collapse;
    font:normal 12px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}

.tr, td {
    border: 1px solid black;
    font:normal 12px "Nimbus Sans Cond", tahoma, helvetica, arial, sans-serif;
}
